@import "_sittings.scss";
@import "_media.scss";
body{
	background: #a9a0a2;
}
.contant{
	margin: 0 auto;
	padding: 0 auto;
	width: 1200px;
}

header{
	.header_linear{
			margin: 0 auto;
			padding: 0 auto;
			display: grid;
			height: 100vh;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows:120px 1fr ;
		.logo_menu{
			
			text-align: center;
			display: grid;
			grid-column: 1/4;
			grid-row: 1 ;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			background: #313131;
			padding: 6px 0;
			.logo{
				grid-column:1 ;
				grid-row:1 ;
				img{
					height: 100px;
					width: auto;
				}
			}
			input{
				grid-column: 2;
				grid-row:1 ;
			}
			nav{
				grid-column: 2/4;
				grid-row:1 ;

				label{}

				ul{
					li{
						 @include flex_esmt;
						 display: inline-block;
						 margin-left: 60px;
						 margin-top: 58px;
						 padding: 8px 12px;
    					 transition: width 2s, height 2s, background-color 1s, transform .4s;
						 &:hover{
							background:#d03958;
						 	border-radius: 12px;
						 	transform: rotate(6deg);
						 }
						a{
							color: #fff;
							display: inline-block;
							@include flex_esmt;
							
						}
					}
				}
			}
		}
		.header_slogon{
			margin-top: 122px;
			grid-column:1/4;
			grid-row:2 ;
			display: grid;
			grid-template-columns:1fr 1fr ;
			grid-template-rows: 1fr;
				.block_h1{
					grid-column: 1;
					grid-row: 1;
					span{
						color: #d03958;
						text-transform: uppercase;
						font-size: 63px;
							text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
			                 0px -5px 35px rgba(255,255,255,0.3);

					}
					h1{font-size: 63px;
						color: #000;
						text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
		                 10px 20px 5px rgba(0,0,0,0.05),
		                 -10px 20px 5px rgba(0,0,0,0.05);


						}			
					p{}
				}
					
		
				.block_regist{
					text-align: center;
					margin: 0 auto;
					padding: 20px 20px;
					width: 400px;
					height: 516px;
					background: #d03958;
					grid-column: 2;
					grid-row: 1;
					border-radius: 12px;
					p{}
					input{
						display: inline-block;
						width: 353px;
						height: 60px;
						margin: 18px;
						border-radius: 20px;
					}
					label
						input{
							width: 10px;
							height: 10px;

						}
						.checkbox_text{
							p{}
						}

					
					button{}
		}
					
		}
	}
}